*.o
.*.swp
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
dmake
dmakeroot.h
install-sh
missing
stamp-h1
startup/config.mk
test-driver
tests/*.log
tests/*.trs
